<div class="container">
  <div id="answer"></div><br><br>

  <div id="question"><%=@card.question%></div>
  <form id="game" method="Post" action="/game">
    <input id="card_id" type="hidden" name="card_id" value="<%=@card.id%>"></br>
    <input type="text" name="answer" placeholder="Your Answer"></br>
    <button id="gamesubmit" action="submit">Guess</button>
  </form>

</div>
