  <header>
    <form id="login_form" method="Post" action="/login">
      <input type="email" name="email" placeholder="Email.."></br>
      <input type="password" name="password_digest" placeholder="Password.."></br>
      <input id="sweet_button" value="login" type="submit" action="submit"> 
    </form>
  </header>
  <div class="container">


    <div id="profile">
    </div>
    <form id="new_user_form" method="Post" action="/users/new">
      <input type="text" name="name" placeholder="Name.."></br>
      <input type="email" name="email" placeholder="Email.."></br>
      <input type="password" name="password_digest" placeholder="Password.."></br>
      <input type="password" name="pass_conf" placeholder="Re-enter Password.."></br>
      <input id="sweet_button" value="submit" type="submit" action="submit"> 
    </form>
    
  </div>
