<div class="container">

  <form id="login_form" method="Post" action="/login">
    <input type="email" name="email" placeholder="Email.."></br>
    <input type="password" name="password_digest" placeholder="Password.."></br>
    <button action="submit">Login</button>
  </form>

    <form id="new_user_form" method="Post" action="/users/new">
    <input type="text" name="name" placeholder="Name.."></br>
    <input type="email" name="email" placeholder="Email.."></br>
    <input type="password" name="password_digest" placeholder="Password.."></br>
    <input type="password" name="pass_conf" placeholder="Re-enter Password.."></br>
    <button action="submit">Submit</button>
  </form>

</div>
